structures/alphafold_structures.tar.gz filter=lfs diff=lfs merge=lfs -text
structures/pdb_structures.tar.gz filter=lfs diff=lfs merge=lfs -text
structures/swiss_model_structures.tar.gz filter=lfs diff=lfs merge=lfs -text
*cosmis_dataset*.tsv.gz filter=lfs diff=lfs merge=lfs -text
figure-code-data/fig_4a/data/af2_dataset_pli_mis_z.csv filter=lfs diff=lfs merge=lfs -text
mapping-files/enst_to_phylop_hg38.json.gz filter=lfs diff=lfs merge=lfs -text
mapping-files/enst_to_gerp.json.gz filter=lfs diff=lfs merge=lfs -text
mapping-files/coord_to_seqcov.json.gz filter=lfs diff=lfs merge=lfs -text
mapping-files/enst_to_phylop.json.gz filter=lfs diff=lfs merge=lfs -text
mapping-files/coord_to_seqcov_hg38.json.gz filter=lfs diff=lfs merge=lfs -text
mapping-files/enst_to_coord_hg38.json.gz filter=lfs diff=lfs merge=lfs -text
