structures/alphafold_structures.tar.gz filter=lfs diff=lfs merge=lfs -text
structures/pdb_structures.tar.gz filter=lfs diff=lfs merge=lfs -text
structures/swiss_model_structures.tar.gz filter=lfs diff=lfs merge=lfs -text
